affine==2.4.0
albumentations==2.0.8
backend==0.2.4.1
fastapi==0.128.0
geoai_py==0.23.0
geoalchemy2==0.18.0
geopandas==1.1.1
minisom==2.3.5
numpy==2.4.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
opencv_python_headless==4.12.0.88
pandas==2.3.3
pydantic==2.12.5
pydantic_settings==2.12.0
rasterio==1.4.3
scikit_learn==1.8.0
scipy==1.16.3
Shapely==2.1.2
SQLAlchemy==2.0.45
torch==2.6.0
torch==2.9.1
